.root__about {
    background-color: $main-color;
    color: $secondary-color;
}

.about__overall, .about__precise {
    width: 45%;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.overall__greeting {
    @extend %font-greeting;
}

.overall__title {
    @extend %font-title;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.overall__button {
    @include button($about-button-color);
    margin-top: 4rem;
    &:hover {
        @include hover(bg-about-darken);
    }
}

@media (max-width: 730px){
    .about__overall, .about__precise {
        width: 100%;
        text-align: center;
    }
    .about__overall {
        margin-bottom: 4rem;
    }
    .about__precise {
        margin-top: 0;
    }
}