.root__header {
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.header__welcome {
    width: 50%;
    color: $secondary-color;
    margin-top: 14rem;
    margin-bottom: 6rem;
    position: relative;
    z-index: 1;
}

.header__image {
    width: 500px;
    height: 700px;
    background-image: url('../images/header_man.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 27%;
    right: 10%;
    z-index: 0;
}

.welcome__greeting {
    @extend %font-greeting;
}

.welcome__title {
    @extend %font-title;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.welcome__position {
    font-size: 2rem;
}

.welcome__text {
    padding: 4rem 0;
}

.welcome__button {
    @include button($calltoaction-color);
    margin-left: 10%;
    &:hover {
        @include hover(bg-call-darken);
    }
}

@media (max-width: 1115px) {
    .header__image {
        width: 400px;
        height: 600px;
    }
}

@media (max-width: 730px) {
    .header__welcome {
        width: 100%;
        margin-top: 8rem;
        text-align: center;
    }
    .header__image {
        width: 250px;
        height: 450px;
    }   
    .welcome__button {
        margin-left: 0;
    }    
}



