.root__navbar {
    width: 100%;
    @extend %flex-between-center;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 100;
    a {
        @extend %anchor-basic;
    }
}

.navbar__logo {
    @extend %font-title;
    &:hover {
        @include hover(font-main-darken);
    }
}

.navbar__menu {
    @extend %flex-between-center;
    list-style-type: none;
}

.menu__item {
    font-size: 0.75rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 8;
    border-top: 6px solid transparent;
    margin: 0 1rem;
    a {
        &:hover {
            @include hover(font-main-darken);
        }
    }
}

.menu__item--active {
    border-top: 6px solid $main-color;
    animation-name: border-fadein;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@media (max-width: 1115px){
    .menu__item {
        display: none;
    }
}