.root__services {
    @extend %flex-column;
    background-color: $services-color;
    color: $secondary-color;
}

.services__greeting {
    @extend %font-greeting;
    margin-top: 10%;
}

.services__title {
    @extend %font-title;
}

.services__offer {
    @extend %flex-between-center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.offer__competence {
    width: 30%;
}

.competence__skill {
    @extend %flex-between-center;
}

.competence__text {
    margin-top: 1rem;
}

.skill__title {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.skill__icon {
    width: 35px;
    height: 35px;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}