@mixin button($background-color) {
    width: 180px;
    font-size: 1rem;
    font-weight: 700;
    color: $secondary-color;
    background-color: $background-color;
    border: 0;
    border-radius: 1.5rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

@mixin hover($animation-name) {
    animation: $animation-name 0.5s;
    animation-fill-mode: forwards; 
}