@mixin button($background-color) {
    font-size: 1rem;
    font-weight: 700;
    color: $secondary-color;
    background-color: $background-color;
    border: 0;
    border-radius: 1.5rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

@mixin button-hover($background-color) {
    background-color: darken($background-color, 20%);
}