.background--darken {
    background-color: rgba(0, 0, 0, 0.8);
}

.hover--darken{
    width: 100%;
    height:100%;
    cursor: pointer;
}

.hover--darken:hover {
    @include hover(bg-gallery-darken);
}

.box--row {
    @extend %flex-between-center;
    padding-left: 15%;
    padding-right: 15%;
}

.box--column {
    @extend %flex-column;
    padding-left: 15%;
    padding-right: 15%;
}

.color--main {
    color: $main-color;
}

.fields--container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

@media (max-width: 730px){
    .box--row {
        flex-wrap: wrap;
    }
    .box--column, .box--row {
        padding-left: 5%;
        padding-right: 5%;
    }    
}
