$main-color: rgba(0, 129, 255, 0.9);
$secondary-color: rgba(255, 255, 255, 0.9);
$calltoaction-color: rgba(0, 174, 237, 1);
$about-color: rgba(0, 129, 255, 1);
$about-button-color: rgba(59, 67, 116, 1);