$main-color: rgba(0, 129, 255, 1);
$secondary-color: rgba(255, 255, 255, 1);
$calltoaction-color: rgba(0, 174, 237, 1);
$about-button-color: rgba(59, 67, 116, 1);
$services-color: rgba(0, 121, 240, 1)