@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,900);@import url(https://fonts.googleapis.com/css?family=Leckerli+One);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.box, .root__navbar, .navbar__menu, .services__offer, .competence__skill {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.root__services, .root__profile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.root__navbar a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none; }

.navbar__logo, .welcome__title, .overall__title, .services__title, .profile__title {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 900; }

.welcome__greeting, .overall__greeting, .services__greeting, .profile__greeting {
  font-family: Leckerli One,cursive;
  font-size: 2rem; }

.background--darken {
  background-color: rgba(0, 0, 0, 0.7); }

.hover--darken {
  width: 100%;
  height: 100%;
  cursor: pointer; }

.hover--darken:hover {
  animation: bg-gallery-darken 0.5s;
  animation-fill-mode: forwards; }

.box {
  padding-left: 15%;
  padding-right: 15%; }

.color--main {
  color: #0081ff; }

@keyframes border-fadein {
  0% {
    border-top: 6px solid transparent; }
  100% {
    border-top: 6px solid #0081ff; } }

@keyframes bg-call-darken {
  0% {
    background-color: #00aeed; }
  100% {
    background-color: #006387; } }

@keyframes bg-about-darken {
  0% {
    background-color: #3b4374; }
  100% {
    background-color: #191c30; } }

@keyframes bg-gallery-darken {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.7); } }

@keyframes font-main-darken {
  0% {
    color: rgba(255, 255, 255, 0.9); }
  100% {
    color: #0081ff; } }

.root {
  font-family: 'Lato', sans-serif;
  background: rgba(255, 255, 255, 0.9);
  line-height: 1.5; }

button:focus {
  outline: none; }

.root__navbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 100; }

.navbar__logo:hover {
  animation: font-main-darken 0.5s;
  animation-fill-mode: forwards; }

.navbar__menu {
  list-style-type: none; }

.menu__item {
  font-size: 0.75rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 8;
  border-top: 6px solid transparent;
  margin: 0 1rem; }
  .menu__item a:hover {
    animation: font-main-darken 0.5s;
    animation-fill-mode: forwards; }

.menu__item--active {
  border-top: 6px solid #0081ff;
  animation-name: border-fadein;
  animation-duration: 0.5s;
  animation-timing-function: linear; }

.root__header {
  background-image: url(images/header_bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.header__image {
  width: 500px;
  height: 700px;
  background-image: url(images/header_man.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 22.5%;
  right: 10%; }

.header__welcome {
  width: 50%;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 20%;
  margin-bottom: 10%; }

.welcome__title {
  font-size: 2.5rem;
  padding: 1rem 0; }

.welcome__position {
  font-size: 2rem; }

.welcome__text {
  padding: 3rem 0; }

.welcome__button {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  background-color: #00aeed;
  border: 0;
  border-radius: 1.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
  margin-left: 10%; }
  .welcome__button:hover {
    animation: bg-call-darken 0.5s;
    animation-fill-mode: forwards; }

.root__about {
  background-color: #0081ff;
  color: rgba(255, 255, 255, 0.9); }

.about__overall, .about__precise {
  width: 45%;
  margin-top: 10%;
  margin-bottom: 10%; }

.overall__title {
  margin-top: 5%;
  margin-bottom: 5%; }

.overall__button {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  background-color: #3b4374;
  border: 0;
  border-radius: 1.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
  margin-top: 10%; }
  .overall__button:hover {
    animation: bg-about-darken 0.5s;
    animation-fill-mode: forwards; }

.root__services {
  background-color: #0079f0;
  color: rgba(255, 255, 255, 0.9); }

.services__greeting {
  margin-top: 10%; }

.services__offer {
  margin-top: 5%;
  margin-bottom: 10%; }

.offer__competence {
  width: 30%; }

.competence__text {
  margin-top: 1rem; }

.skill__title {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 5%; }

.skill__icon {
  width: 35px;
  height: 35px;
  margin-right: 1.5rem;
  margin-bottom: 1rem; }

.root__profile {
  background-color: rgba(255, 255, 255, 0.9); }

.profile__greeting {
  color: #333333;
  margin-top: 10%; }

.profile__gallery {
  margin-top: 5%;
  margin-bottom: 10%; }

.grid {
  width: 100%;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'item1 item1 item4 item5'
 'item1 item1 item4 item5'
 'item2 item3 item4 item6'; }

.gallery__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.item__image {
  display: none; }

.gallery__item1 {
  grid-area: item1;
  background-image: url(images/gallery_item1.png); }

.gallery__item2 {
  grid-area: item2;
  background-image: url(images/gallery_item2.png); }

.gallery__item3 {
  grid-area: item3;
  background-image: url(images/gallery_item3.png); }

.gallery__item4 {
  grid-area: item4;
  background-image: url(images/gallery_item4.png); }

.gallery__item5 {
  grid-area: item5;
  background-image: url(images/gallery_item5.png); }

.gallery__item6 {
  grid-area: item6;
  background-image: url(images/gallery_item6.png); }
